html, body {
  height: 100%;
  margin: 0;
}

.header { background-color: #96ceb4; }
.menu { background-color: #ff6f69; }
.content { background-color: #ffcc5c; }
.container {
  height: 100%;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'm m h h h h h h h h h h h'
    'm m c c c c c c c c c c c'
    'm m c c c c c c c c c c c';
}
.header { grid-area: h; }
.menu { grid-area: m; }
.content { grid-area: c; }

a {
  text-decoration: none;
  display: block;
  margin: 15px auto;
  border: 2px solid #96ceb4;
  border-radius: 10px;
  width: 80%;
  color: black;
  padding: 10px 0;
}
