html, body {
  height: 100%;
  margin: 0;
}
.header { background-color: #ffceb4; }
.menu { background-color: #006f69; }
.content { background-color: #aacc5c; }
.container {
  height: 100%;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'm m h h h h h h h h h h h'
    'm m c c c c c c c c c c c'
    'm m c c c c c c c c c c c';
}
.header { grid-area: h; }
.menu { grid-area: m; }
.content { grid-area: c; }

.post {
  width: 220px;
  height: 80px; }

.post .avatar {
    float: left;
    width: 52px;
    height: 52px;
    background-color: #ccc;
    border-radius: 25%;
    margin: 8px;
    background-image: linear-gradient(90deg, #f00 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    -webkit-animation: shine-avatar 0.9s infinite linear;
            animation: shine-avatar 0.9s infinite linear; }

.post .line {
    float: left;
    width: 140px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #f00 0px, #e8e8e8 40px, #ddd 80px);
    background-size: 600px;
    -webkit-animation: shine-lines 0.9s infinite linear;
            animation: shine-lines 0.9s infinite linear; }

.post .avatar + .line {
    margin-top: 11px;
    width: 100px; }

.post .line ~ .line {
    background-color: #ddd; }

@-webkit-keyframes shine-lines {
  0% {
    background-position: -100px; }
  40%, 100% {
    background-position: 140px; } }

@keyframes shine-lines {
  0% {
    background-position: -100px; }
  40%, 100% {
    background-position: 140px; } }

@-webkit-keyframes shine-avatar {
  0% {
    background-position: -32px; }
  40%, 100% {
    background-position: 208px; } }

@keyframes shine-avatar {
  0% {
    background-position: -32px; }
  40%, 100% {
    background-position: 208px; } }


    a {
      text-decoration: none;
      display: block;
      margin: 15px auto;
      border: 2px solid #96ceb4;
      border-radius: 10px;
      width: 80%;
      color: black;
      padding: 10px 0;
    }
